# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Next.js
/.next/
/out/

# Production
/build

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Local DB / Scratch Artifacts
.local-db.json
kits.json
*.log
.jetro/

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS Files
.DS_Store
*.pem
